

<% @profer.each do |item| %>
<div class="jumbotron">
  <h1 class="display-3"><%= item.name %></h1>
  <p class="lead"><%= item.comment %></p>
  <hr class="my-4">
  <p>Raring: <%= item.rating %></p>
</div>

<% end %>
